@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100);
@font-face { font-family: bromello; src: url('bromello.otf'); }

html, body {
  overflow: hidden;
}

body {
	margin: 0px;
}

.footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 10%;
	background-color: rgba(10, 11, 21, 0.5);
	z-index: 10;
	text-align: center;
}

.navigation {
	position: relative;
	top: 25%;
	color: #FFFFFF;
  	font-family: Lato;
	font-weight: 100;
    font-size: 3vh;
	letter-spacing: 3px;
}

a {
	margin: 0px 50px;
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.background:first-child {
  background-image: url('imgs/building_background.jpg');
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}

.background:first-child .content {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.background:nth-child(2) {
  background-image: url('imgs/bridge_background.jpg');
}

.background:nth-child(3) {
  background-image: url('imgs/taxi_background.jpg');
}

.background:nth-child(4) {
  background-image: url('imgs/street_background.jpg');
}

.background:nth-child(5) {
  background-image: url('imgs/nyc_background.jpg');
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 5;
}

.background:nth-child(2) {
  z-index: 4;
}

.background:nth-child(3) {
  z-index: 3;
}

.background:nth-child(4) {
  z-index: 2;
}

.background:nth-child(5) {
  z-index: 1;
}

.content {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.header {
	font-size: 20vh;
	line-height: 1.4;
	margin: 0px;
}

.info {
    font-size: 5vh;
	line-height: 1.4;
	margin: 0px;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content {
	-webkit-transform: translateY(15vh);
	transform: translateY(15vh);
}

#home .header {
	font-family: bromello, sans-serif;
}

#home .info {
    font-family: Lato, sans-serif;
}

#about .header {
    font-size: 8vh;
    line-height: 1.4;
}

#about .info {
	font-size: 2vh;
	text-transform: none;
	position: relative;
    left: 33%;
    width: 33%;
}

#about .info p {
	text-align: left;
}

#work .header {
    font-size: 8vh;
    line-height: 1.4;
}

#work .info {
	font-size: 2vh;
	text-transform: none;
	position: relative;
    left: 10%;
    width: 80%;
}

#work .info table {
	width: 100%;
	color: #FFFFFF;
  	font-family: Montserrat;
    font-size: 2vh;
}

#work .info .left-col {
	width: 24%;
}

#work .info .right-col {
	width: 76%;
}

#work a {
	margin: 0px;
	text-decoration: underline;
}

#projects .header {
    font-size: 8vh;
    line-height: 1.4;
}

#projects .info {
	font-size: 3vh;
	text-transform: none;
	position: relative;
    left: 10%;
    width: 80%;
}

#projects a {
	margin: 0px;
	text-decoration: underline;
}

#contact .header {
    font-size: 10vh;
    line-height: 1.4;
    margin: 0px 0px 20px 0px;
}

#contact .info {
	font-size: 2vh;
}

#contact .info a {
	margin: 25px 50px;
}

#contact .credit {
    font-size: 1.5vh;
    margin-top: 95px;
}

#contact .credit a {
	margin: 0px;	
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow {
	position: relative;
	bottom: -10%;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #FFFFFF;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}