body {
  overflow-x: hidden;
}

#scrolled {
  position:absolute;
}

.section {
    margin:0px;
    bottom:0px;
    float:left;
    width:100%;
}

.content {
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 25px;
}

#circle {
  position: fixed;
  top: 100px;
  left: 25%;
  max-width: 700px;
  max-height: 700px;
  background-color: rgb(225, 225, 225);
}

#section1 {
	text-align: center;
}

#home {
  height: 90px;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 75px;
}

#initials {
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
}

#fullname {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#occupation {
  position: relative;
  width: 500px;
  top: 100px;
  right: 63px;
  margin: auto;
  height: 200px;
  transform: rotate(-39deg);
}

#occupation span {
  height: 500px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

#city {
	position: relative;
	top: 200px;
	width: 110%;
	height: auto;      
	right: 10px;
}

#first {
	position: relative;
	right: 10px;
}

#bar1 {
	width: 110%;
	height: 200px;
	background-color: #071636;
}

#intro {
  	color: #ffffff;
  	position: relative;
  	text-align: center;
}

#intro h1 {
	font-family: 'Montserrat', sans-serif;
}

#second {
	position: relative;
	display: -webkit-inline-box;
	font-family: 'Josefin Sans', sans-serif; 
}

#second h1 {
	font-family: 'Montserrat', sans-serif;
}

#second img {
    width: 350px;
    height: auto;
    margin: 50px 30px;
}

#about_me {
    width: 300px;
    text-align: justify;
    font-size: 20px;
}

#details {
    width: 300px;
    position: relative;
    text-align: justify;
    font-size: 20px;
}

b {
	font-family: 'Montserrat', sans-serif;
}

#third {
    position: relative;
    top: 800px;
}

#experiences {
	width: 110%;
	position: relative;
	right: 10px;
	height: 500px;
    display: -webkit-inline-box;
	color: #ffffff;
	background-color: rgb(38,38,38);
}

#work{
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-left: 150px;
	margin-right: 15px;
}

a{
	color: #c2109b;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

#one_way {
	height: auto;
    width: 500px;
}

#skills {
	position: relative;
    top: 850px;
    text-align: left;
	left: 150px;
}

.skill_bar {
	height: 50px;
	position: relative;
	margin: 10px;
	color: white;
	text-align: right;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

#skills p {
	text-align: right;
	position: relative;
	width: 30%;
	top: 50px;
    margin: 15px;
}

#java {
	background-color: rgb(178,181,239);
	width: 1000px;
}

#javascript {
	background-color: rgb(159,163,235);
	width: 800px;
}

#html_css {
	background-color: rgb(135,141,231);
	width: 900px;
}

#objective_c {
	background-color: rgb(84,93,221);
	width: 500px;
}

#angular {
	background-color: rgb(65,75,218);
	width: 600px;
}

#jasmine {
	background-color: rgb(36,46,174);
	width: 750px;
}

#sql {
	background-color: rgb(19,26,134);
	width: 800px;
}

#scheme {
	background-color: rgb(13,9,99);
	width: 400px;
}

#c {
	background-color: rgb(10,2,25);
	width: 650px;
}

#contact {
	background-color: rgb(217,217,217);
	width: 110%;
	position: relative;
	right: 10px;
	height: 500px;
	top: 850px;
	text-align: left;
}

#contact img {
	height:500px;
	width: auto;
    margin-top: -75px;
}

#contact h1 {
    margin-left: 325px;
}

#contact p {

}